{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le meilleur réseau de location !{% endblock %}

{% block header %}
<h2>Voici le header</h2>
{% endblock %}

{% block body %}

<div class="container">
   <div class="jumbotron mt-3">
        <h1 class="display-3">Bienvenue sur Immobilier Digital</h1>
        <p class="lead">Nous gérons pour le compte de proriétaires physiques ou moraux leurs biens.</p>
        <hr class="my-4">
        <h4>Nous assurons entre autres toute la relation avec les occupants des biens.</h4>
        <p class="lead">
            <a class="btn btn-primary btn-lg mt-3" href="#" role="button">Voir nos annonces</a>
        </p>
    </div>


<h2 class="h1 my-5">Nos biens disponibles</h2>

<div class="row">
   
</div>


</div>
{% endblock %}