{% extends 'base.html.twig' %}

{% block title %}Mon profile{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="mt-5 mb-4">Modification du mot de passe</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-center btn-success"> <i class="fas fa-user-check"></i>&nbsp;&nbsp;Enregistrer le nouveau mot de passe</button>
        {{ form_end(form) }}
       

    </div>





    

{% endblock %} 
