{% extends 'base.html.twig' %}

{% block title %}Edition d'un option{% endblock %}

{% block header %}
<h2>Edition d'une option</h2>
{% endblock %}

{% block body %}

<div class="container mt-4">
   <h1 class="pb-4">Edition d'une option</h1>
    {{ include('admin/option/_form_option.html.twig', {form: form, button: 'Sauvegarder'}) }}

</div>


</div>
{% endblock %}